@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .is-body {
    background: #fff;
  }
  .is-item {
    border: 1px solid #000;
    margin-bottom: 2px;
  }
}
